@import '/src/assets/styles/sakura.scss';

@mixin padding-top($index) {
  padding-top: $index; 
}

@mixin padding-left($index) {
  padding-left: $index; 
}

@mixin gap($index) {
  gap: $index; 
}


.flexBox {
    display: flex;
    
    &--center {
      justify-content: center;
      align-items: center;
    }
  
    &--row {
      flex-direction: row;
    }
  
    &--column {
      flex-direction: column;
      width: 100%;
    }

    &--space-between {
      justify-content: space-between;
      width: 100%;
    }

    &--space-evenly {
      justify-content: space-evenly;
      height: 100%;
    }
    
    &--outline {
      border: 1px solid $color-blossom;
      min-height: 40rem;
      border-radius: $radius-large;
    }

    &__pt {
      &--tiny {
        @include padding-top($tiny);
      }
  
      &--sm {
        @include padding-top($sm);
      }

      &--lg {
        @include padding-top($lg);
      }
    }

    &__pl {
      &--tiny {
        @include padding-left($tiny);
      }
  
      &--sm {
        @include padding-left($sm);
      }

      &--lg {
        @include padding-left($lg);
      }
    }
    
    &__gap {
      &--tiny {
        @include gap($tiny);
      }
  
      &--sm {
        @include gap($sm);
      }

      &--lg {
        @include gap($lg);
      }
    }

  }
  
  .spinner {
    border: $font-size-base solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: $font-size-base;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }