@import '/src/assets/styles/sakura.scss';

.inputTextField {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;

    label {
        display: contents;
        
        span {
            justify-self: end;
            margin-right: 1rem;
        }
    }
  
    input {
        width: 100%;
        grid-column: 2 / 3;
    }
    
    &__helper {
        grid-column: 2 ;
        font-size: $sm;
        color: $color-action-danger;
        margin-top: 4px;
    }
}
  