@import "@/assets/styles/sakura.scss";

.badgeOval {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border: solid 1px $color-blossom;
    border-radius: 999px;
    color: $color-blossom;
    padding: 0;
    
    &--fill {
      border: none;
      background-color: $color-blossom;
      height: 100%;
      color: $color-bg;
      padding-left: 0.5rem;
    }
  
    &__inner {
      display: flex;
      align-items: center;
      gap: 4px;
      border: none;
      background-color: $color-blossom;
  
      &--faded {
        opacity: 0.1;
      }
  
      &--highlighted {
        opacity: 0.9;
      }
    }
  
    .progress {
      width: 1rem;
      border-radius: 50%;
      background-color: #FFFFFF;
    }
  
    .text {
      font-size: 1.5rem;
      padding-right: 1rem;
    }
  }
  