@import "@/assets/styles/sakura.scss";

.badgeOval {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border: solid 1px $color-blossom;
    border-radius: 999px;
    color: $color-blossom;
    padding: 0;
    
    &--secondary {
      border: solid 1px $color-fade;
      color: $color-fade;
    }
    
    &__fill {
      border: none;
      background-color: $color-blossom;
      height: 100%;
      color: $color-bg;
      padding-left: 0.5rem;
      
      &--secondary {
        background-color: $color-fade;
      }
    }
  
    &__inner {
      display: flex;
      align-items: center;
      gap: 4px;
      border: none;
      background-color: $color-blossom;
  
      &--faded {
        opacity: 0.1;
      }
  
      &--highlighted {
        opacity: 0.9;
      }
    }
  
    .progress {
      width: 5rem;
      border-radius: 50%;
      background-color: #FFFFFF;
    }
  
    .text {
      font-size: 1.5rem;
      padding-right: 1rem;
      align-self: center;

      &--secondary {
        color: $color-fade;
      }
    }
  }
  